In [1]:
import pandas as pd

In [2]:
appearences = pd.read_csv("appearances.csv")
games = pd.read_csv("games.csv")
leagues = pd.read_csv("leagues.csv.xls")
teams = pd.read_csv("teams.csv.xls")
shots = pd.read_csv("shots.csv")
players = pd.read_csv("players.csv.xls", encoding='ISO-8859-1')

In [3]:
appearences

,gameID,playerID,goals,ownGoals,shots,xGoals,xGoalsChain,xGoalsBuildup,assists,keyPasses,xAssists,position,positionOrder,yellowCard,redCard,time,substituteIn,substituteOut,leagueID
0,81,560,0,0,0,0.000000,0.000000,0.000000,0,0,0.000000,GK,1,0,0,90,0,0,1
1,81,557,0,0,0,0.000000,0.106513,0.106513,0,1,0.106513,DR,2,0,0,82,222605,0,1
2,81,548,0,0,0,0.000000,0.127738,0.127738,0,0,0.000000,DC,3,0,0,90,0,0,1
3,81,628,0,0,0,0.000000,0.106513,0.106513,0,0,0.000000,DC,3,0,0,90,0,0,1
4,81,1006,0,0,0,0.000000,0.021225,0.021225,0,0,0.000000,DL,4,0,0,90,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356508,16135,3509,0,0,1,0.028713,0.058495,0.058495,0,0,0.000000,MC,9,0,0,90,0,0,5
356509,16135,4882,0,0,1,0.013482,0.058495,0.045374,0,2,0.058495,MC,9,0,0,90,0,0,5
356510,16135,5786,0,0,0,0.000000,0.045374,0.045374,0,0,0.000000,FW,15,0,0,90,0,0,5
356511,16135,8997,0,0,0,0.000000,0.000000,0.000000,0,0,0.000000,FW,15,0,0,78,474075,0,5
356512,16135,5762,0,0,0,0.000000,0.000000,0.000000,0,0,0.000000,Sub,17,0,0,12,0,474074,5

In [5]:
games

,gameID,leagueID,season,date,homeTeamID,awayTeamID,homeGoals,awayGoals,homeProbability,drawProbability,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,81,1,2015,2015-08-08 15:45:00,89,82,1,0,0.2843,0.3999,...,5.90,1.62,3.60,6.00,1.67,4.00,5.75,1.64,4.07,6.04
1,82,1,2015,2015-08-08 18:00:00,73,71,0,1,0.3574,0.3500,...,4.27,1.91,3.50,4.00,2.00,3.50,4.20,1.82,3.88,4.70
2,83,1,2015,2015-08-08 18:00:00,72,90,2,2,0.2988,0.4337,...,5.62,1.73,3.50,5.00,1.73,3.90,5.40,1.75,3.76,5.44
3,84,1,2015,2015-08-08 18:00:00,75,77,4,2,0.6422,0.2057,...,4.34,2.00,3.10,2.70,2.00,3.40,4.33,1.79,3.74,5.10
4,85,1,2015,2015-08-08 18:00:00,79,78,1,3,0.1461,0.2159,...,3.08,2.60,3.10,2.88,2.60,3.25,3.00,2.46,3.39,3.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12675,16131,5,2020,2021-05-23 19:00:00,168,166,1,2,0.2812,0.2671,...,6.20,1.50,4.50,6.00,1.50,4.33,6.00,1.58,4.36,6.18
12676,16132,5,2020,2021-05-23 19:00:00,177,176,1,2,0.3367,0.2999,...,3.32,2.50,2.90,3.20,2.40,3.10,3.00,2.66,3.28,2.93
12677,16133,5,2020,2021-05-23 19:00:00,163,235,2,0,0.6719,0.2502,...,9.41,1.32,5.25,9.00,1.30,5.25,9.00,1.23,6.85,12.59
12678,16134,5,2020,2021-05-23 19:00:00,175,181,0,1,0.3541,0.3010,...,10.67,1.29,5.25,11.00,1.29,5.25,9.50,1.29,5.97,10.80
12679,16135,5,2020,2021-05-23 19:00:00,225,179,1,1,0.1748,0.4863,...,4.92,2.62,2.20,4.33,2.63,2.20,3.25,2.69,2.30,4.18

In [8]:
leagues

   leagueID            name understatNotation
0         1  Premier League               EPL
1         2         Serie A           Serie_A
2         3      Bundesliga        Bundesliga
3         4         La Liga           La_liga
4         5         Ligue 1           Ligue_1

In [18]:
teams

     teamID                  name
0        71           Aston Villa
1        72               Everton
2        74           Southampton
3        75             Leicester
4        76  West Bromwich Albion
..      ...                   ...
141     182                 Nancy
142     224                Amiens
143     225            Strasbourg
144     235                 Nimes
145     241                 Brest

[146 rows x 2 columns]

In [19]:
players

      playerID                  name
0          560         Sergio Romero
1          557        Matteo Darmian
2          548           Daley Blind
3          628        Chris Smalling
4         1006             Luke Shaw
...        ...                   ...
7654      9512  Valentino Livramento
7655      9740               JosÃ© SÃ¡
7656      1025       Daniel Bachmann
7657      9745   Dimitris Giannoulis
7658       852       Freddie Woodman

[7659 rows x 2 columns]

In [20]:
shots

,gameID,shooterID,assisterID,minute,situation,lastAction,shotType,shotResult,xGoal,positionX,positionY
0,81,554,NaN,27,DirectFreekick,Standard,LeftFoot,BlockedShot,0.104347,0.794,0.421
1,81,555,631.0,27,SetPiece,Pass,RightFoot,BlockedShot,0.064342,0.860,0.627
2,81,554,629.0,35,OpenPlay,Pass,LeftFoot,BlockedShot,0.057157,0.843,0.333
3,81,554,NaN,35,OpenPlay,Tackle,LeftFoot,MissedShots,0.092141,0.848,0.533
4,81,555,654.0,40,OpenPlay,BallRecovery,RightFoot,BlockedShot,0.035742,0.812,0.707
...,...,...,...,...,...,...,...,...,...,...,...
324538,16135,6615,8651.0,19,SetPiece,Aerial,Head,MissedShots,0.039172,0.899,0.511
324539,16135,6615,8651.0,54,SetPiece,Cross,LeftFoot,Goal,0.372809,0.902,0.482
324540,16135,3464,NaN,70,OpenPlay,NaN,LeftFoot,MissedShots,0.009242,0.738,0.774
324541,16135,8651,4882.0,72,OpenPlay,Cross,Head,BlockedShot,0.045374,0.882,0.543
324542,16135,8651,4882.0,85,OpenPlay,Pass,RightFoot,MissedShots,0.013121,0.653,0.359

# Targetes grogues

In [9]:
# Unir les dades per obtenir la columna 'leagueID'
merged_data = appearences.merge(games[['gameID', 'leagueID']], on='gameID', how='left')

# Agrupar per lliga i sumar les targetes grogues
yellow_cards_per_league = merged_data.groupby('leagueID_x')['yellowCard'].sum().reset_index()

# Afegir el nom de la lliga
yellow_cards_per_league = yellow_cards_per_league.merge(leagues[['leagueID', 'name']], left_on='leagueID_x',right_on='leagueID', how='left')

# Imprimir el resultat
yellow_cards_per_league.to_csv("targetes_grogues.csv")

# Targetes vermelles

In [11]:
# Unir les dades per obtenir la columna 'leagueID'
merged_data = appearences.merge(games[['gameID', 'leagueID']], on='gameID', how='left')

# Agrupar per lliga i sumar les targetes grogues
yellow_cards_per_league = merged_data.groupby('leagueID_x')['redCard'].sum().reset_index()

# Afegir el nom de la lliga
yellow_cards_per_league = yellow_cards_per_league.merge(leagues[['leagueID', 'name']], left_on='leagueID_x',right_on='leagueID', how='left')

# Imprimir el resultat
yellow_cards_per_league.to_csv("targetes_vermelles.csv")

# Top 10 millors equips

In [17]:
# Assignar punts segons el resultat
def assign_points(row):
    if row['homeGoals'] > row['awayGoals']:
        return 3, 0  # Home win
    elif row['homeGoals'] < row['awayGoals']:
        return 0, 3  # Away win
    else:
        return 1, 1  # Draw

games[['points_home', 'points_away']] = games.apply(assign_points, axis=1, result_type="expand")

# Sumar els punts per cada equip
points_home = games.groupby(['homeTeamID', 'leagueID'])['points_home'].sum().reset_index()
points_away = games.groupby(['awayTeamID', 'leagueID'])['points_away'].sum().reset_index()

# Canviar els noms de les columnes per fer els merges mÃ©s fÃ cils
points_home.rename(columns={'homeTeamID': 'teamID'}, inplace=True)
points_away.rename(columns={'awayTeamID': 'teamID'}, inplace=True)

# Combinar els punts de casa i fora
total_points = points_home.merge(points_away, on=['teamID', 'leagueID'], how='outer', suffixes=('_home', '_away')).fillna(0)
total_points['total_points'] = total_points['points_home'] + total_points['points_away']

# Afegir el nom de l'equip
total_points = total_points.merge(teams[['teamID', 'name']], on='teamID', how='left')

# Afegir el nom de la lliga
total_points = total_points.merge(leagues[['leagueID', 'name']], on='leagueID', how='left', suffixes=('_team', '_league'))

# Ordenar els equips per punts totals en ordre descendent
top_teams = total_points.sort_values(by='total_points', ascending=False).head(10)

# Coordenades aproximades de les ciutats dels equips
coordinates = {
    "Barcelona": (41.3809, 2.1228),
    "Juventus": (45.0703, 7.6869),
    "Paris Saint Germain": (48.8566, 2.3522),
    "Real Madrid": (40.4168, -3.7038),
    "Manchester City": (53.4808, -2.2426),
    "Bayern Munich": (48.1351, 11.5820),
    "Atletico Madrid": (40.4168, -3.7038),
    "Napoli": (40.8518, 14.2681),
    "Liverpool": (53.4084, -2.9916),
    "Roma": (41.9028, 12.4964)
}

# Afegir les coordenades al dataframe
top_teams['latitude'] = top_teams['name_team'].map(lambda team: coordinates.get(team, (None, None))[0])
top_teams['longitude'] = top_teams['name_team'].map(lambda team: coordinates.get(team, (None, None))[1])

# ciutats dels equips
city = {
    "Barcelona": "Barcelona",
    "Juventus": "Turin",
    "Paris Saint Germain": "Paris",
    "Real Madrid": "Madrid",
    "Manchester City": "Manchester",
    "Bayern Munich": "Munich",
    "Atletico Madrid": "Madrid",
    "Napoli": "Napoli",
    "Liverpool": "Liverpool",
    "Roma": "Roma"
}
top_teams['city'] = top_teams['name_team'].map(lambda team: city.get(team, (None, None)))
# Imprimir els 10 millors equips amb les coordenades
print(top_teams[['name_team', 'total_points', 'name_league', 'latitude', 'longitude','city']])

# Opcionalment, guardar els resultats en un fitxer CSV
top_teams.to_csv('top_teams_2014_2020.csv', index=False)

              name_team  total_points     name_league  latitude  longitude  \
77            Barcelona           616         La Liga   41.3809     2.1228
27             Juventus           615         Serie A   45.0703     7.6869
90  Paris Saint Germain           600         Ligue 1   48.8566     2.3522
79          Real Madrid           590         La Liga   40.4168    -3.7038
17      Manchester City           588  Premier League   53.4808    -2.2426
46        Bayern Munich           571      Bundesliga   48.1351    11.5820
72      Atletico Madrid           555         La Liga   40.4168    -3.7038
34               Napoli           540         Serie A   40.8518    14.2681
16            Liverpool           538  Premier League   53.4084    -2.9916
24                 Roma           513         Serie A   41.9028    12.4964

          city
77   Barcelona
27       Turin
90       Paris
79      Madrid
17  Manchester
46      Munich
72      Madrid
34      Napoli
16   Liverpool
24        Roma

# 10 millors jugadors

In [25]:
# Filtrar les dades per obtenir nomÃ©s els gols
goals_data = shots[shots['shotResult'] == 'Goal']

# Obtenir els mÃ xims golejadors
top_scorers = goals_data.groupby('shooterID').size().reset_index(name='goals')

# Obtenir la suma de xGoals per jugador
xgoals_per_player = goals_data.groupby('shooterID')['xGoal'].sum().reset_index()

print(top_scorers)
# Obtenir el nombre d'assistÃ¨ncies on el shotType sigui 'Goal' i el assisterID sigui el seu ID
assists_data = goals_data[goals_data['assisterID'].notna()]
assists_per_player = assists_data.groupby('assisterID').size().reset_index(name='assists')

# Unir les dades
top_scorers = top_scorers.merge(players[['playerID', 'name']], left_on='shooterID', right_on='playerID', how='left')
top_scorers = top_scorers.merge(xgoals_per_player, left_on='shooterID', right_on='shooterID', how='left')
top_scorers = top_scorers.merge(assists_per_player, left_on='shooterID', right_on='assisterID', how='left')
top_scorers = top_scorers[['name', 'goals', 'xGoal', 'assists']]

# Omplir NaN amb 0 per les assistÃ¨ncies
top_scorers['assists'] = top_scorers['assists'].fillna(0).astype(int)

# Ordenar els jugadors per nombre de gols en ordre descendent i obtenir els 10 mÃ xims golejadors
top_10_scorers = top_scorers.sort_values(by='goals', ascending=False).head(10)

# Imprimir la taula final
print(top_10_scorers)

top_10_scorers.to_csv('top_10_scorers.csv', index=False)

      shooterID  goals
0             3      3
1             4      9
2             6      9
3             8      9
4            11     37
...         ...    ...
3502       9448      1
3503       9501      1
3504       9509      1
3505       9524      1
3506       9526      1

[3507 rows x 2 columns]
                           name  goals       xGoal  assists
1322               Lionel Messi    272   93.720144       97
1522          Cristiano Ronaldo    241  101.848411       54
172          Robert Lewandowski    207   91.422702       32
1323                Luis SuÃ¡rez    171   67.306498       73
465                  Harry Kane    163   64.572137       34
238   Pierre-Emerick Aubameyang    156   72.591566       31
442               Sergio AgÃ¼ero    140   55.712766       31
1449          Antoine Griezmann    138   47.265766       42
811               Ciro Immobile    133   54.992415       36
1760             Edinson Cavani    132   61.042062       25

In [29]:
# Filtrar les dades per obtenir nomÃ©s els gols
goals_data = shots[shots['shotResult'] == 'Goal']

# Obtenir els mÃ xims golejadors
top_scorers = goals_data.groupby('shooterID').size().reset_index(name='goals')

# Obtenir la suma de xGoals per jugador
xgoals_per_player = goals_data.groupby('shooterID')['xGoal'].sum().reset_index()

# Obtenir el nombre d'assistÃ¨ncies on el shotType sigui 'Goal' i el assisterID sigui el seu ID
assists_data = goals_data[goals_data['assisterID'].notna()]
assists_per_player = assists_data.groupby('assisterID').size().reset_index(name='assists')

# Obtenir l'equip de cada jugador de la taula appearances
team_per_player = appearences[['playerID', 'teamID']].drop_duplicates()

# Unir les dades per obtenir el nom de l'equip
top_scorers = top_scorers.merge(players[['playerID', 'name']], left_on='shooterID', right_on='playerID', how='left')
top_scorers = top_scorers.merge(xgoals_per_player, left_on='shooterID', right_on='shooterID', how='left')
top_scorers = top_scorers.merge(assists_per_player, left_on='shooterID', right_on='assisterID', how='left')
top_scorers = top_scorers.merge(team_per_player, left_on='shooterID', right_on='playerID', how='left')
top_scorers = top_scorers.merge(teams[['teamID', 'leagueID']], on='teamID', how='left')
top_scorers = top_scorers.merge(leagues[['leagueID', 'name']], on='leagueID', how='left', suffixes=('_team', '_league'))

# Seleccionar les columnes necessÃ ries
top_scorers = top_scorers[['name', 'goals', 'xGoal', 'assists', 'name_league']]

# Omplir NaN amb 0 per les assistÃ¨ncies i convertir a enter
top_scorers['assists'] = top_scorers['assists'].fillna(0).astype(int)

# Ordenar els jugadors per nombre de gols en ordre descendent i obtenir els 10 mÃ xims golejadors
top_10_scorers = top_scorers.sort_values(by='goals', ascending=False).head(10)

# Imprimir la taula final
print(top_10_scorers)

# Opcionalment, guardar els resultats en un fitxer CSV
top_10_scorers.to_csv('top_10_scorers_with_league.csv', index=False)

KeyError: "['teamID'] not in index"